/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
    font-family: 'Righteous', cursive;
    font-size: 16px;
    line-height: 1.5;
    background-color: #d8f2ec;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Righteous', cursive;
    font-weight: bold;
    color: #218380;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

p {
    font-family: Arial, sans-serif;
    color: #218380;
}

i {
    font-family: Arial, sans-serif;
}

a {
    font-size: 16px;
    color: #7373de;
    text-decoration: none;
}

.social-link {
    font-family: Arial, sans-serif;
    color: #7373de;
}